extends layout

block content

	.row
		.col.m8.offset-m2
			.input-field
				input(id="search" type="text")
				label(for="search") Search
			a#searchBtn.btn Submit

block javascript
	script(src="/controllers/barsController.client.js")