extends layout

block content

	.row
		.col.m8.offset-m2
			.input-field
				input(id="search" type="text" value="New York")
				label(for="search") Search
			a#searchBtn.btn Submit
		
		.row
			#barList

block javascript
	script(src="/controllers/barsController.client.js")